.box-recipe {
  display: flex;
  flex-direction: column;
  width: 370px;
  background: #fff;
  border-radius: 6px;
  align-items: center;
  margin: 20px 30px 20px 0;
  position: relative;
}
.box-recipe:nth-child(3n) {
  margin-right: 0;
}
.recipe {
  text-decoration: none;
  align-items: center;
	display: flex;
	flex-direction: column;
	font-family: Montserrat;
	font-style: normal;
}
.box-recipe:hover {
  box-shadow: 0px 80px 120px rgba(207, 216, 220, 0.8);
  cursor: pointer;
}
.icon-edit {
	width: 27px;
	height: 28px;
	background: url(../../../Images/edit.png);
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
.icon-edit:hover {
	box-shadow: 0 0 5px 2px;
}
.recipe img {
	border-radius: 6px 6px 0 0;
	width: 370px;
}
.recipe h3 {
  text-align:center;
	font-weight: bold;
	font-size: 22px;
	line-height: 33px;
  color: #263238;
	text-transform: uppercase;
	margin: 20px 0 0;
}
.recipe p {
	margin: 12px 26px 12px;
	text-align:center;
	font-size: 16px;
	line-height: 24px;
	color: #37474f;
	font-weight: normal;
}
.box-recipe .icon-star {
	margin: 0 0 30px;
	box-sizing: border-box;
}
@media (max-width: 1170px) {
	.box-recipe {
	margin: 20px 0;
	}
}