.addNewRecipe {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.block {
	width: 45%;
	height: 936px;
	background: #f6fbf6;
	overflow: hidden;
}
.block img {
	height: 100%;
	overflow: hidden;
}
