.addNewRecipe {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.preview-img {
	width: 45%;
	height: 936px;
	background: #f6fbf6;
	overflow: hidden;
}
.preview-img img {
	height: 100%;
	overflow: hidden;
}
